<ion-header>

  <ion-navbar>
    <ion-title>Liste Laureats</ion-title>

    <ion-buttons end>
      <button ion-button color="secondary" (click)="nouveauFiltre()">
        Nouveau Filtre
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>

      <div *ngFor="let item of laureats">
        <ion-item-sliding *ngIf="item">

          <ion-item>


            <button ion-item   (click)="itemTapped(item)">
              <ion-thumbnail item-start>
                <img [src]="item.photo">
              </ion-thumbnail>
              <p>ffff</p>
              <p>Nom : {{item.nom}}</p>
              <p>Prenom : {{item.prenom}}</p>
              <p>Genre : {{item.genre}} </p>
              <button ion-button clear item-end >Détail</button>
            </button>

          </ion-item>

          <ion-item-options side="left">
            <button ion-button color="danger" >
              <ion-icon name="delete"></ion-icon>
              Suprimer
            </button>
          </ion-item-options>

        </ion-item-sliding>
      </div>

  </ion-list>

</ion-content>




